*{text-align: center;
    MARGIN-TOP: 10px;}
.numbers{ padding-left: 10%;}
.number {
    float:left;
    margin-left: 30px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(229, 129, 129);
    line-height: 40px;
}
.footer{
    clear:both;
    text-align: left;
    margin-left: 30px;
}